<h1>Welcome to the Star Wars Universe</h1>
<p>
  <%= link_to 'About', about_path %>
</p>
<p>
  <%= link_to 'Films', films_path %><br>
  <%= link_to 'People', people_path %><br>
  <%= link_to 'Planets', planets_path %><br>
  <%= link_to 'Vehicles', vehicles_path %><br>
  <%= link_to 'Starships', starships_path %><br>
  <%= link_to 'Species', species_index_path %><br>
</p>
