
<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Height</th>
      <th>Mass</th>
      <th>Hair Color</th>
      <th>Skin Color</th>
      <th>Eye Color</th>
      <th>Birth Year</th>
      <th>Gender</th>
      <th>Planet</th>
      <th>Species</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.height %></td>
        <td><%= person.mass %></td>
        <td><%= person.hair_color %></td>
        <td><%= person.skin_color %></td>
        <td><%= person.eye_color %></td>
        <td><%= person.birth_year %></td>
        <td><%= person.gender %></td>
        <td><%= person.planet.name if person.planet %></td>
        <td><%= person.species.name if person.species %></td>
        <td><%= link_to 'Show', person_path(person) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
